##########################################################################
# Python
##########################################################################

__pycache__/
*.pyc
*.pyo

##########################################################################
# Virtual Environment
##########################################################################

venv/

##########################################################################
# Environment Variables
##########################################################################

.env

##########################################################################
# Logs
##########################################################################

logs/*.log

##########################################################################
# Data
##########################################################################

data/raw/*
data/processed/*
data/bronze/*
data/silver/*
data/gold/*

##########################################################################
# IDE
##########################################################################

.vscode/
.idea/

##########################################################################
# Operating System
##########################################################################

.DS_Store
Thumbs.db
