sqlalchemy
psycopg2-binary
faker
python-dotenv
loguru
pandas
numpy
pyarrow
boto3
great-expectations
pyspark==4.2.0
dbt-core
dbt-postgres
apache-airflow
mlflow
scikit-learn
transformers
sentence-transformers
PyYAML>=6.0
